/* banner */
#banner {
  min-height: 700px;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../images/banner1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: initial;
  position: relative;
  z-index: 100;
}

.banner__heading {
  padding: 40px 0 20px;
}

.banner__heading .logo {
  font-size: 36px;
  font-weight: 700;
  color: var(--white);
}

.search__bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form {
  position: relative;
}

.search__input {
  height: 45px;
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color);
  padding: 10px 50px 10px 20px;
  border-radius: 6px;
  border: 1px solid var(--white);
  background-color: var(--white);
  position: relative;
  right: 0;
}

.form span i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #eee;
  cursor: pointer;
  display: inline-block;
  padding-right: 16px;
}

.icon__change {
  position: relative;
  margin: 16px;
  display: flex;
  cursor: pointer;
}

.icon__change i {
  font-size: 24px;
  color: #eee;
  display: inline-block;
}

.icon__change .night {
  position: absolute;
  top: 0;
  left: 0;
}

.menu__btn {
  font-size: 24px;
  border: none;
  background-color: transparent;
  text-align: center;
  color: #fbfdfb;
  padding: 0 8px;
}

.banner__content {
  max-width: 600px;
  margin-top: 100px;
  text-align: left;
}

.banner__title {
  margin-left: -15px;
}

.banner__title h1 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white);
}

.banner__title p {
  margin-top: 24px;
  padding-right: 48px;
  font-size: 16px;
  line-height: 28px;
  color: var(--white);
}

/* modal */
.modal__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 3, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transform: scale(0.9);
  z-index: 1000;
}

.open-modal {
  visibility: visible;
  opacity: 1;
  transition: transform 0.4s, opacity 0.4s;
  transform: scale(1);
  z-index: 9999;
}

.modal__container {
  height: 100vh;
  width: 100%;
}

.modal__close {
  position: absolute;
  right: 50px;
  top: 50px;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 6px;
  border: none;
  padding: 8px 16px;
}

.modal__content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  margin: 0 auto;
  text-align: center;
}

.modal__list {
  height: 100%;
  position: relative;
  display: inline-block;
}

.modal__list li a {
  font-size: 20px;
  font-weight: 600;
  line-height: 48px;
  display: block;
  color: var(--white);
  transition: color 0.2s;
}

.modal__list li:hover a {
  color: var(--primary-color);
}

/* about */
.about__desc p {
  font-size: 18px;
  line-height: 28px;
  /* color: var(--font-color); */
}

/* subscribe */
#subscribe {
  background-color: var(--primary-color);
}

.subscribe__img {
  background: url(../images/banner3.jpg) top center / cover no-repeat;
  min-height: 700px;
  position: relative;
  z-index: 1;
}

.subscribe__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(16 15 19 / 46%);
}

.subscribe__content h1.title {
  color: var(--white);
}

.subscribe__content h4.sub-title {
  color: var(--white);
}

.subscribe__content p {
  color: #ffdfc9;
  font-size: 18px;
  line-height: 28px;
}

.subscribe__rate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
}

.subscribe__rate .subscribe__rate-icon i {
  display: block;
  width: 70px;
  height: 70px;
  color: var(--primary-color);
  font-size: 25px;
  line-height: 70px;
  text-align: center;
  background-color: var(--white);
  border-radius: 6px;
  margin-bottom: 24px;
  transition: 0.3s ease-in-out;
}

.subscribe__rate .subscribe__rate-left:hover i,
.subscribe__rate .subscribe__rate-right:hover i {
  color: var(--secondary-color);
}

.subscribe__rate a {
  display: block;
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
}

.subscribe__rate p {
  color: #ffdfc9;
  font-size: 18px;
  line-height: 28px;
}

/* categories */
#categories {
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
}
.categories__body {
  padding-top: 40px;
}

.categories__item {
  position: relative;
  border-radius: 12px;
  margin: 16px 0;
}

.categories__item img {
  display: block;
  width: 100%;
  border-radius: 12px;
}

.categories__item:hover img {
  opacity: 0.85;
  transition: all 0.5s;
}

.categories__content {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -32px;
  padding: 40px;
  z-index: 1000;
}

.categories__content::after {
  content: "";
  position: inherit;
  left: 0;
  bottom: 32px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.53) 69%,
      rgba(0, 0, 0, 0.76) 100%);
  border-radius: 12px;
  z-index: -1;
}

.categories__content p:first-of-type {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: var(--white);
  margin-bottom: 8px;
}

.categories__content p:last-of-type {
  font-size: 18px;
  font-weight: 600;
  color: var(--secondary-color);
  letter-spacing: 1px;
}

/* menu */
.menu__item {
  padding: 40px 40px;
  transition: all 0.5s ease-in-out;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  /* background-color: #fff; */
  position: relative;
  margin: 16px 0;
}

.menu__item:hover {
  box-shadow: 1px 1px 2px 1px var(--secondary-color);
}

.menu__item:hover .menu__heading i {
  color: var(--white);
  background-color: var(--primary-color);
}

.menu__heading {
  display: flex;
  justify-content: left;
  align-items: center;
}

.menu__heading i {
  display: block;
  font-size: 28px;
  color: var(--primary-color);
  padding: 24px;
  /* background-color: #eee; */
  border-radius: 6px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.menu__content {
  padding-left: 36px;
}

.menu__content p {
  font-size: 18px;
  /* color: var(--font-color); */
  margin-bottom: 8px;
}

.menu__content h4 a {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 800;
  transition: all 0.5s;
}

.menu__content h4:hover a {
  color: var(--secondary-color);
}

.menu__body p {
  margin-top: 16px;
}

/* middle */
#middle {
  background: url(../images/banner2.jpg) 100% center / cover no-repeat;
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
}

#middle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  background-color: rgba(16, 15, 19, 66%);
  z-index: -1;
}

.middle__content {
  max-width: 700px;
  margin: 0 auto;
  padding: 48px 0;
}

.middle__content h1 {
  font-size: 45px;
  font-weight: 600;
  line-height: 55px;
  color: var(--white);
  max-width: 700px;
  text-align: center;
}

.middle__btn a:first-of-type {
  margin-right: 30px;
}

.middle__btn a:last-of-type {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.middle__btn .diner__btn:hover:last-of-type {
  background-color: var(--white);
  border: 2px solid var(--white);
}

/* count */
.count__list {
  position: relative;
  top: -70px;
  z-index: 1000;
}

.count__item {
  background-color: var(--white);
  /* box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px; */
  padding: 40px 20px;
  margin: 12px 0;
  border-radius: 6px;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.count__item:hover {
  transform: translateY(-8px);
  /* box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px; */
  box-shadow: 1px 1px 2px 1px var(--primary-color);
  transition: all 0.5s ease-in-out;
}

.count__item span i {
  display: inline-block;
  background: var(--primary-color);
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: var(--white);
  text-align: center;
}

.count__item h1 {
  font-size: 42px;
  font-weight: 600;
  color: var(--black);
  margin-top: 16px;
}

.count__item p {
  text-transform: capitalize;
  /* color: var(--font-color); */
  font-weight: 600;
}

/* media */
#media {
  width: 100%;
  height: auto;
  background-color: var(--white);
}

.media__video {
  background: url(../images/banner3.jpg) center / cover no-repeat;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
  min-height: 500px;
  border-radius: 6px;
}

.media__video::before {
  content: "";
  position: absolute;
  background: rgb(16 15 19 / 60%);
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  z-index: -1;
  border-radius: 6px;
}

.media__play-btn {
  display: block;
  margin: 0 auto;
}

.media__play-btn span {
  display: inline-block;
  width: 80px;
  height: 80%;
  font-size: 26px;
  text-align: center;
  line-height: 76px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  animation: ripple 1s linear infinite;
  color: var(--primary-color);
  border: transparent;
  background: var(--white);
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgb(50 100 245 / 0%);
  }
}

.media__play-video {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}

.hide {
  display: none;
}

/* blog */
#blog {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}

.blog__item {
  margin: 24px 0;
}

.blog__image {
  position: relative;
  cursor: pointer;
}

.blog__image img {
  display: block;
  width: 100%;
  border-radius: 6px;
}

.blog__image-desc {
  padding: 0 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  color: var(--white);
}

.blog__image-desc p:first-of-type {
  font-weight: 800;
  display: block;
  padding: 4px 24px;
  background-color: var(--primary-color);
  border-radius: 24px;
}

.blog__content h2 {
  margin: 24px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}

.blog__content p {
  font-size: 18px;
  line-height: 28px;
}

.blog__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__footer-member img {
  display: inline-block;
  width: 40px;
  border-radius: 50%;
}

.blog__footer-member span {
  display: inline-block;
  font-size: 12px;
  font-weight: 900;
  padding-left: 8px;
}

.blog__footer a {
  color: var(--orange-color);
  font-size: 12px;
  font-weight: 800;
  transition: all 0.5s;
}

.blog__footer a:hover {
  color: var(--secondary-color);
}

.blog__footer a i {
  padding-left: 16px;
}

/* testimonial */
#testimonial {
  /* background-color: rgba(0, 0, 0, 0.6); */
  width: 100%;
  height: auto;
}

.testimonial__body .carousel-item {
  margin-top: 48px;
}

.testimonial__body .carousel-item img {
  width: 80px;
  display: block;
  border-radius: 50%;
  margin: 0 auto 24px;
}

.testimonial__body .carousel-item i {
  display: block;
  text-align: center;
  font-size: 36px;
  color: var(--primary-color);
}

.testimonial__body .carousel-caption {
  max-width: 700px;
  position: unset;
  margin: 0 auto 48px;
  color: var(--color-black);
}

.testimonial__body .carousel-caption h3 {
  /* color: var(--color-black); */
  font-weight: 700;
}

.testimonial__body .carousel-caption p {
  /* color: var(--font-color); */
  font-size: 18px;
  line-height: 28px;
  margin: 32px 0;
}

.testimonial__body .testimonial__info h3 {
  font-size: 20px;
  font-weight: 600;
}

.testimonial__body .testimonial__info p {
  margin: 8px 0;
}

.testimonial__body .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 8px;
  background-color: #d8d8d8;
}

.testimonial__body .carousel-indicators li.active {
  background-color: var(--primary-color);
}

/* footer */
#footer {
  background-color: var(--color-black);
  width: 100%;
  height: auto;
}

.footer__title.h1 {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white);
}

.footer__title {
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white);
  margin-bottom: 16px;
}

.fz-30 {
  font-size: 30px;
}

.footer__desc {
  font-size: 16px;
  line-height: 26px;
  color: #a5a2a1;
}

.footer__icon-social {
  display: flex;
  margin-top: 24px;
}

.footer__icon-social li a {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  font-size: 16px;
  line-height: 36px;
  border-radius: 6px;
  background-color: var(--white);
  color: var(--primary-color);
  transition: all 0.5s;
  margin-right: 16px;
}

.footer__icon-social li:hover a {
  background-color: var(--primary-color);
  color: var(--white);
}

.footer__list li {
  margin-bottom: 10px;
}

.footer__list li a {
  font-size: 16px;
  line-height: 26px;
  color: #a5a2a1;
  position: relative;
  transition: all 0.5s;
}

.footer__list li:hover a {
  color: var(--secondary-color);
}

.footer__list li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: transparent;
  transition: all 0.5s;
}

.footer__list li a:hover::after {
  background: linear-gradient(180deg,
      var(--primary-color),
      var(--secondary-color));
  width: 100%;
}

.footer__form input {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: var(--font-color);
  background-color: var(--white);
  border-radius: 6px;
}

.footer__form .diner__btn {
  margin-top: 16px;
  padding: 12px 45px;
  line-height: 30px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
  background-color: var(--primary-color);
  width: 100%;
}

.footer__form .diner__btn:hover {
  color: var(--primary-color);
  background-color: var(--white);
}

.footer__bottom {
  margin-top: 48px;
  padding: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__bottom p {
  margin-bottom: 0;
  align-items: center;
  color: #ddd;
  font-size: 16px;
}

.footer__bottom p a {
  color: var(--primary-color);
  font-weight: 600;
  transition: all 0.5s;
}

.footer__bottom p a:hover {
  color: var(--white);
}

.footer__bottom-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.footer__bottom-list li a {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #a5a2a1;
  transition: all 0.5s;
}

.footer__bottom-list li:hover a {
  color: var(--primary-color);
}

/* sidebar */
#sidebar {
  position: fixed;
  top: 100px;
  right: 0;
  min-height: 300px;
  background-color: #0d1326;
  z-index: 9999;
  padding: 40px 8px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sidebar__list li {
  text-align: center;
}

.sidebar__list li:nth-child(1) {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.sidebar__list li:nth-child(2),
.sidebar__list li:nth-child(3),
.sidebar__list li:nth-child(4) {
  margin-top: 24px;
}

.sidebar__list li a {
  color: #e6ebff;
  transition: all 0.5s;
}

.sidebar__list li:hover a {
  color: var(--primary-color);
}

.sidebar__list li a i,
.sidebar__list li a span {
  display: block;
}

.sidebar__list li a span {
  padding-top: 4px;
}

/* back to top */
.btn-top {
  position: fixed;
  right: 40px;
  bottom: 20px;
  z-index: 1;
}

.btn-top i {
  color: var(--white);
  display: block;
  text-align: center;
  line-height: 32px;
  width: 32px;
  height: 32px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  font-size: 16px;
}